.line-break{
  
    border-top: 1px solid rgb(176, 175, 175);
    
    
}

.contribute-button {
  background: linear-gradient(to right, #373b44, #2f3031);
    border: none;
    color: rgb(251, 73, 73); /* Text color set to white */
    font-size: 20px; /* Increased text size */
     
   display: flex;
    justify-content: center;
    text-decoration: none; /* Remove underline */
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    text-decoration:underline

  }
  
  .contribute-button:hover {
    color: rgb(251, 73, 73);
    transform: scale(1.5);
    box-shadow: 0 0 20px rgb(251, 73, 73);
  }