/* footer.css */

.footer {
    background: linear-gradient(to right, #373b44, #4286f4);
    padding: 10px; /* Adjust the padding value */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .footer li {
    margin: 0 10px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
  }
  
  .footer p {
    color: white;
    margin-top: 5px; /* Adjust the margin value */
    font-size: 1em;
    font-weight: bolder;
  }
  