/* footer.css */
 
 
.footer {
  background: linear-gradient(to right, #d9dadd, #dbdbdb);
    padding: 10px; /* Adjust the padding value */
    text-align: center;
  position: relative;
    bottom: 0;
    width: 100%;

  display: block;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .footer li {
    margin: 0 10px;
  }
  
  .footer a {
    background: linear-gradient(to right, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
  }
  
  .footer p {
    color: rgb(0, 0, 0);
    margin-top: 5px; /* Adjust the margin value */
    font-size: 1em;
    font-weight: bolder;
  }
  