/* RegisterForm.css */

.google-signin-btn {
  background-color: rgb(204 244 255);
  color: rgb(20 71 228);
  padding: 15px 20px; /* Adjust padding for a larger button size */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px; /* Increase font size */
  font-weight: bold; /* Make the text bold */
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.google-signin-btn:hover {
  background-color: black; /* Darker Google Blue on hover */
}

.google-icon img {
  margin-right: 20px; /* Add some spacing between the text and the Google icon */
  width: 100px; /* Set a fixed width for the Google icon image */
}
