/* Register.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 25px; /* Set a base font size for the entire page */
}

.register-container {
  background: linear-gradient(to right, #373b44, #4286f4); /* Gradient background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-content {
  text-align: center;
}

.register-heading {
  background: linear-gradient(to right, #7eff7c, rgb(255, 255, 11)); /* Gradient text color */
  -webkit-background-clip: text; /* Clip the text to the background gradient */
  background-clip: text; /* Define the standard property for compatibility */
  color: transparent;
  font-size: 4em; /* Adjust the font size for the heading */
  font-weight: bolder;
  padding-bottom: 30px;
  position: relative;
   
}
 
/* RegisterForm.css */

.google-signup-btn {
  background-color: black;
  color: rgb(20, 71, 228);
  padding: 15px 20px; /* Adjust padding for a larger button size */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2em; /* Increase font size for better responsiveness */
  font-weight: bold; /* Make the text bold */
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
}

.google-signup-btn:hover {
  background-color: white; /* Darker Google Blue on hover */
}

.google-icon img {
  margin-right: 10px; /* Reduce spacing between the text and the Google icon */
  width: 60px; /* Set a fixed width for the Google icon image */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .google-signup-btn {
    font-size: 1.5em; /* Adjust font size for smaller screens */
    padding: 12px 15px; /* Adjust padding for smaller screens */
  }

  .google-icon img {
    width: 40px; /* Adjust the width for smaller screens */
  }
}
