/* Login.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 25px; /* Set a base font size for the entire page */
}

.login-container {
  background: linear-gradient(to right, #373b44, #4286f4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  text-align: center;
  max-width: 500px; /* Set a maximum width for the content */
  width: 90%; /* Adjust the width as needed */
}

.login-heading,
.heading-2,
.login-register-link {
  color: #ffc107;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.login-heading {
  font-size: 3em;
}

.heading-2 {
  font-size: 2.5em;
  padding-top: 10px;
  margin-bottom: 0px;
}

.login-register-link {
  font-size: 1.5em;
  padding: 15px;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-signin-btn {
  margin-left: 50px;
  background-color: black;
  color: rgb(20, 71, 228);
  padding: 15px 20px; /* Adjust padding for a larger button size */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2em; /* Increase font size for better responsiveness */
  font-weight: bold; /* Make the text bold */
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
}

.google-signin-btn:hover {
  background-color: white; /* Darker Google Blue on hover */
}

.google-icon img {
  margin-right: 10px; /* Reduce spacing between the text and the Google icon */
  width: 60px; /* Set a fixed width for the Google icon image */
}


 
/* Responsive Styles */
@media (max-width: 768px) {
  .login-content {
    width: 80%; /* Adjust the width for smaller screens */
  }

  .login-heading,
  .heading-2,
  .login-register-link
  {
    font-size: 2em; /* Adjust font size for smaller screens */
  }

  .login-register-link {
    padding: 10px;
  }
  .google-signin-btn {
    font-size: 1.5em; /* Adjust font size for smaller screens */
    padding: 12px 15px; /* Adjust padding for smaller screens */
    margin-left: 0px;
  }

  .google-icon img {
    width: 40px; /* Adjust the width for smaller screens */
  }
}
