/* Login.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 25px; /* Set a base font size for the entire page */
  }
  
  .login-container {
   background: linear-gradient(to right, #373b44, #4286f4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-content {
    text-align: center;
  }
  
  .login-heading {
    background: linear-gradient(to right, #7eff7c, rgb(255, 255, 11)); /* Gradient text color */
    -webkit-background-clip: text; /* Clip the text to the background gradient */
    background-clip: text; /* Define the standard property for compatibility */
    color: transparent;
    font-size: 3em; /* Adjust the font size for the heading */
    margin-bottom: 20px; /* Add some spacing below the heading */
    font-weight: bolder;
    padding-bottom: 30px;
  }
  
 
  
  .login-register-link {
    background: linear-gradient(to right, #ff3232, #89b659); /* Gradient text color */
    -webkit-background-clip: text; /* Clip the text to the background gradient */
    background-clip: text; /* Define the standard property for compatibility */
    color: transparent;
    font-size: 2em; /* Adjust the font size for the link */
     font-weight: bolder;
     padding:47px
  }
  