 

.navbar {
  background: linear-gradient(to right, #373b44, #2f3031);
    padding: 10px 20px;  
  }
  
  .navbar-container {
    max-width: 1200px;
 margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: #fffb00;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 452px !important;
    
  }
  
  .nav-item {
 
    display: inline-block;
  }
  
  .user-welcome {
    color: white;
    padding: 10px;
     
  }
  
  .user-name {
    color: #ffc107;
    
  }
 li img{
  height: 25px;
  width: auto;
 }
 .admin-icon{
   padding-left: 5px;
   padding-bottom: 10px;
  height: 40px;
  width: auto;
 }
  .login-btn,
  .register-btn,
  .logout-btn {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    margin: 0 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-right: -10px;
  }
  
  .login-btn:before,
  .register-btn:before,
  .logout-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .login-btn:active,
  .register-btn:active,
  .logout-btn:active {
    color: #000;
  }
  
  .login-btn:active:before,
  .register-btn:active:before,
  .logout-btn:active:before {
    background: transparent;
  }
  
  .login-btn:hover:before,
  .register-btn:hover:before,
  .logout-btn:hover:before {
    opacity: 1;
  }
  
  .login-btn:after,
  .register-btn:after,
  .logout-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .login-btn:hover,
  .register-btn:hover,
  .logout-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  