
.center-div{
    text-align: center;     
}

.center-div>h4{
  padding-bottom: 20px;  
  color: whitesmoke; 
   
}
.phone-msg{
  display: none;
}
.glow-on-hover {
    
  
    height: 70px;
    width: 227px;
    
    border-radius: 10px;
    font-size: 27px;
    font-weight: bolder;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glow 20s linear infinite;
    opacity: 1; /* Set initial opacity to 1 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    font-size: 100px;
    padding: 5px;
  }
  
  .glow-on-hover:active {
    color: #000;
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.bottom-space{
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .center-div>h4{
    display: none;
     
  }
  .phone-msg{
    display: block !important;
    padding-bottom: 20px;  
    color: whitesmoke; 
  }
}