/* SubBar.css */

/* Default styles */
.breadcrumb-container {
  margin-left: 3em;
}

.breadcrumb-nav {
  background: linear-gradient(to right, #373b44, #2f3031);
  border: none;
  outline: none;
  box-shadow: none;
  color: rgb(131, 255, 253);
  font-size: large;
  padding-left: 10px;
}

.breadcrumb-nav:hover {
  color: #ffc107;
}
.breadcrumb-current-folder{
  background: linear-gradient(to right, #373b44, #2f3031);
  border: none;
  outline: none;
  box-shadow: none;
  color: whitesmoke;
  
  font-size: large;
  padding-left: 10px;
}
.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav .btn {
  background-color: transparent;
  border: none;
  color: rgb(131, 255, 253);
  font-size: 24px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .btn:hover {
  color: #ffc107;
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.7);
}

.btn-outline-dark {
  border-color: #333;
  color: #333;
}

.btn-outline-dark:hover {
  border-color: #ffc107;
  color: #ffc107;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .breadcrumb-container {
    margin-left: 1em;
  }

  .breadcrumb-nav {
    font-size: medium;
  }

  .navbar-nav .btn {
    font-size: 18px;
  }
}
